---
layout: default
body_class: home-page
---

<section id="ebook" class="row ebook">
    <div class="col-xs-12 text-xs-center">
        <div class="cover">
            <img src="{{ site.baseurl }}/assets/images/railstutorial-book-banner.jpg" alt="{{ site.title }}" title="{{ site.title }}" />
        </div>

        <div class="formats">
            <img src="{{ site.baseurl }}/assets/images/pdf.png" width="60" alt="PDF" title="PDF 格式" />
            <img src="{{ site.baseurl }}/assets/images/epub.png" width="60" alt="ePub" title="ePub 格式" />
            <img src="{{ site.baseurl }}/assets/images/mobi.png" width="60" alt="mobi" title="mobi 格式" />
        </div>

        {% include actions.html button_id="purchase-dropdown-main" %}
    </div>
</section>

{% include toc.html %}
{% include praise.html %}
{% include faq.html %}
{% include actions.html wrapper=true button_id="purchase-dropdown-bottom" %}
{% include related_books.html %}
