    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>&copy;2013-{{ site.time | date: '%Y'}} <a href="http://about.ac" title="安道的个人网站" target="_blank">安道</a></p>
      <p>
        <a href="https://twitter.com/{{ site.twitter }}" title="在 Twitter 中关注 @andor_chen"  target="_blank"><i class="icon-twitter"></i></a>
        <a href="http://weibo.com/andor27" title="在微博中关注 @andor_chen"  target="_blank"><i class="icon-weibo"></i></a>
        <a href="https://github.com/{{ site.repo_name }}" title="随书源码"  target="_blank"><i class="icon-github-circled"></i></a>
      </p>
      <p>保留部分权利</p>
    </div>
  </footer>

  {% if is_local %}
    {% include debug.html %}
  {% endif %}
</body>
</html>
