<section id="praise" class="row praise">
    <div class="container">
        <h2>对本书的赞誉</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div id="rei" class="row comment">
                    <div class="col-xs-3 col-sm-2"><img src="{{ site.baseurl }}/assets/images/rei.jpg" /></div>
                    <div class="col-xs-9 col-sm-10">
                        <p>这本书是紧跟 Rails 最新版本和最佳实践的教材。书中所举的例子不止步于玩具应用，还涉及现实世界必须了解的开发知识，推荐 Rails 和 Web 入门开发者阅读。</p>
                        <p class="text-xs-right">——<a href="http://chloerei.com/" target="_blank">chloerei</a><br /> <a href="https://selfstore.io" target="_blank">SelfStore</a> 创始人，<a href="http://ruby-china.org" target="_blank">Ruby China</a> 管理员</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div id="JimmyWales" class="row comment">
                    <div class="col-xs-3 col-sm-2"><img src="{{ site.baseurl }}/assets/images/JimmyWales.jpg" /></div>
                    <div class="col-xs-9 col-sm-10">
                        <p>问：Jimmy Wales 最喜欢读哪本书？</p>
                        <p>答：经常变化。现在我最喜欢 Michael Hartl 写的 <strong>Rails 教程</strong>。</p>
                        <p class="text-xs-right">——<a href="http://www.quora.com/Jimmy-Wales-1/What-is-Jimmy-Waless-favorite-book" target="_blank">Jimmy Wales</a><br /> 维基百科创始人</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div id="JuanitoFatas" class="row comment">
                    <div class="col-xs-3 col-sm-2"><img src="{{ site.baseurl }}/assets/images/JuanitoFatas.jpeg" /></div>
                    <div class="col-xs-9 col-sm-10">
                        <p>目前最好的 Rails 中文書。</p>
                        <p class="text-xs-right">——<a href="https://twitter.com/JuanitoFatas/status/537529778618658818" target="_blank">@JuanitoFatas</a><br /> 台湾活跃的 Ruby 程序员</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div id="MikeLong" class="row comment">
                    <div class="col-xs-3 col-sm-2"><img src="{{ site.baseurl }}/assets/images/MikeLong.jpg" /></div>
                    <div class="col-xs-9 col-sm-10">
                        <p>刚读完著名的 Rails 教程。这本书可能是继 <a href="http://book.douban.com/subject/1236999/" target="_blank">K&amp;R 书</a>之后最好的软件教程了。</p>
                        <p class="text-xs-right">——<a href="https://twitter.com/meekrosoft/statuses/2095543769632768" target="_blank">Mike Long</a><br /> 软件工程师</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
