<section id="related-books" class="row related-books">
    <div class="container">
        <h2>相关电子书</h2>

        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Rails 指南</h4>
                        <p class="card-text">Rails 指南由 Rails 官方维护，其中的文章都由经验丰富的 Rails 开发者撰写，再经由众多的读者审查，质量非常高。Rails 指南涵盖 Rails 的方方面面，文章内容深入浅出，易于理解，是 Rails 入门、开发的必备参考。</p>

                        <div class="dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" id="purchase-dropdown-railsguidescn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-basket"></i>购买电子书</button>
                            <div class="dropdown-menu" aria-labelledby="purchase-dropdown-railsguidescn">
                                <a class="dropdown-item" href="https://selfstore.io/products/13" title="到 SelfStore 购买电子书" target="_blank">SelfStore&nbsp;&nbsp;<i class="icon-alipay"></i></a>
                                <a class="dropdown-item" href="https://leanpub.com/rails-guides-cn" title="到 Leanpub 购买电子书" target="_blank">Leanpub&nbsp;&nbsp;<i class="icon-paypal"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">使用 RSpec 测试 Rails 程序</h4>
                        <p class="card-text">开发 Rails 应用时没有编写测试？只在浏览器中四处点击，手动测试？什么都不做，十指交叉，祷告应用能正常运行？这都不是正确的做法！本书教你如何借助测试提升代码的可靠度，从而避免在浏览器中到处点击。</p>

                        <div class="dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" id="purchase-dropdown-everydayrailsrspeccn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-basket"></i>购买电子书</button>
                            <div class="dropdown-menu" aria-labelledby="purchase-dropdown-everydayrailsrspeccn">
                                <a class="dropdown-item" href="https://selfstore.io/products/3" title="到 SelfStore 购买电子书" target="_blank">SelfStore&nbsp;&nbsp;<i class="icon-alipay"></i></a>
                                <a class="dropdown-item" href="https://leanpub.com/everydayrailsrspec-cn" title="到 Leanpub 购买电子书" target="_blank">Leanpub&nbsp;&nbsp;<i class="icon-paypal"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Rails 程序部署之道</h4>
                        <p class="card-text">如果你花了很多钱把应用程序部署在 Heroku 上，使用本书介绍的工具，可以将其迁移到 VPS 中。如果应用已经运行在 VPS 中，但部署的过程不牢靠，使用本书提供的模板可以让部署的过程更可靠。</p>

                        <div class="dropdown">
                            <button type="button" class="btn btn-secondary dropdown-toggle" id="purchase-dropdown-deployrailscn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-basket"></i>购买电子书</button>
                            <div class="dropdown-menu" aria-labelledby="purchase-dropdown-deployrailscn">
                                <a class="dropdown-item" href="https://selfstore.io/products/66" title="到 SelfStore 购买电子书" target="_blank">SelfStore&nbsp;&nbsp;<i class="icon-alipay"></i></a>
                                <a class="dropdown-item" href="https://leanpub.com/deploying_rails_applications-cn" title="到 Leanpub 购买电子书" target="_blank">Leanpub&nbsp;&nbsp;<i class="icon-paypal"></i></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
